<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - HomepageJVPS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>About Us</h1>
      <p>
        Welcome to HomepageJVPS. I am John Victor P. Salac a BSIT-3A Student at
        the University of the Assumption.
      </p>
      <p><a href="/">Back to Homepage</a></p>
    </div>
  </body>
</html>
