<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to HomepageJVPS</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to HomepageJVPS!</h1>
      <p>
        This is a simple homepage with navigation links, it's still under
        development.
      </p>
      <div class="navigation">
        <a href="/login">Login</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
      </div>
    </div>
  </body>
</html>
